@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
input, button {
    appearance: none;
    outline: none;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
html, body {
    height: auto;
}
a {
    text-decoration: none;
    color: #333333;
}
body.popup-active {
    overflow: hidden;
}
body.popup-active main:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #333333;
    opacity: 0.8;
    z-index: 10;
    transition: all .3s;
}
/* sign-in */
.sign-in {
    width: 100%;
    height: 100vh;
    background-image: url(../img/signin/bg-sign.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.sign-in__block {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.sign-in__item { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.sign-in__item_enter {
    padding: 77px 0 43px;
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    font-weight: 500;
}
.signin__label {
    margin-top: 30px;
    margin-bottom: 15px;
}
.search__row input,
.header__search input,
.signin__input {
    width: 100%;
    padding: 14px 29px;
    border-radius: 5px;
    background-color: #ebf0f4;
    border: 1px solid #ebf0f4;
    color: #333333;
    border: 0;
    text-align: center;
    transition: all .3s;
}
.signin__button {
    border: 0;
    min-width: 255px;
    width: 100%;
    padding: 20px 60px;
    border-radius: 5px;
    background-color: #3d88d2;
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.signin__loser {
    color: #09699e;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s linear;
}
/* sign-in:END */

main {
    position: relative;
    width: 100%;
    background: #ffffff;
    height: auto;
    min-height: 100vh;
}
.container {
    /* max-width: 1365px; */
    width: 100%;
    margin: 0 auto;
}
header {
    height: 100px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.16);
    background-color: #f5f5f6;
    z-index: 1;
    position: relative;
}
.header__container {
    height: 100%;
}
.header__wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
}
.header__menu img {
    cursor: pointer;
}
.header__items {
    width: calc(100% - 92px);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.header__logo,
.header__user,
.header__search {
    height: 100%;
    display: flex;
    align-items: center;
}
.header__search svg:hover path {
    fill: #09699e;
}
.header__search svg path {
    fill: #939393;
    transition: fill .2s linear;
}
.header__search svg {
    width: 19px;
    height: 19px;
    margin-left: -30px;
    cursor: pointer;
}
.header__search input {
    padding: 15px 50px 15px 15px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.header__user_notification {
    position: relative;
    height: 50px;
    width: 50px;
}
.user__notification_info {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    font-size: 10px;
    padding: 4px;
    line-height: 1;
    background-color: #3d88d2;
    border-radius: 50%;
}
.header__user_info {
    padding-left: 10px;
    padding-right: 10px;
}
.header__user_name a{
    font-size: 16px;
    color: #333333;
}
.header__user_place a {
    color: #3d88d2;
    font-size: 14px;
}
.header__user_avatar {
    width: 44px;
    height: 44px;
    padding: 4.5px 5.5px 4.5px 5.5px;
    border: 1px solid #8e8e8e;
    background-color: #f8f8f8;
    border-radius: 50%;
}

.main {
    height: auto;
    min-height: calc(100vh - 100px);
}

.main__container {
    display: flex;
    height: auto; 
    min-height: inherit;
}
.main__aside {
    margin-left: -100px;
    height: inherit;
    padding: 15px 0;
    width: 92px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    transition: all .3s linear;
}
.main__aside.active {
    margin-left: 0;
}
.main__aside_item {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 0;
    border-left: 6px solid transparent;
    transition: all .4s linear;
}
.main__aside_item img {
    display: block;
    margin: 0 auto;
}
.aside__item_text {
    padding-top: 10px;
    text-align: center;
    color: #959ba4;
}
.main__aside_item:hover,
.main__aside_item.active {
    border-color: #3d88d2;
}
.main__aside_item:hover > .aside__item_text,
.main__aside_item.active > .aside__item_text {
    color: #333333;
}
.main__content {
    width: calc(100% - 92px);
    padding: 0 30px;
}
.main__content_header {
    padding: 40px 60px;
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.main__content_table {
    width: 100%;
    overflow-x: auto;
}
.main__content_table table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
}
.main__content_table td,
.main__content_table th {
    text-align: center;
    background: #ffffff;
}
.main__content_table td:first-child,
.main__content_table th:first-child {
    width: 65px;
}
.main__content_table.partners tr td,
.main__content_table.history2 tr td {
    background: transparent;
}
.main__content_table.partners tr:nth-child(2n - 1) td,
.main__content_table.history2 tr:nth-child(2n - 1) td {
    background-color: #f4f7f9;
}
.main__content_table td:nth-child(2n) {
    background: #f8f8f8;
}
.main__content_table th,
.main__content_table span {
    white-space: nowrap;
    color: #000000;
    font-size: 16px;
}
.main__content_table tr {
    height: 64px;
}
.main__content_table .table__head tr {
    height: 74px;
}
.main__content_table.partners .table__head tr,
.main__content_table.history2 .table__head tr {
    height: 42px;
}
.main__content_table.partners .table__head tr th:first-child,
.main__content_table.partners .table__body tr td:first-child {
    padding-left: 57px;
    width: 190px;
    text-align: left;
}
.main__content_table.partners .table__name {
    width: 137px;
}
.main__content_table.partners .table__date {
    width: 235px;
}
.main__content_table.partners .table__your {
    width: 160px;
}
.main__content_table.partners .table__partner {
    width: 235px;
}
.main__content_table.partners .table__predst {
    width: 200px;
}
.main__content_table.partners .table__null {
    width: 80px;
}
.main__content_table .table__head {
    z-index: 2;
    background: #ffffff;
}
.main__content_table .table__body tr {
    height: 64px;
    border-bottom: 1px solid #cbcbcb;
}
.main__content_table .table__body tr {
    border-bottom: 0;
}
.table__search {
    position: relative;
}
.table__search input {
    width: 65%;
    border: 1px solid transparent;
    border-bottom-color: #8f8f8f;
    padding: 3px 0;
    background: transparent;
}
.table__search img {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 17.5%;
    transform: translateY(-50%);
    cursor: pointer;
}
.table__text img {
    cursor: pointer;
}
.table__date {
    width: 115px;
}
.table__fil {
    width: 62px;
}
.table__fullname {
    width: 254px;
}
.table__srok,
.table__sert {
    width: 150px;
}
.table__number {
    width: 200px;
}
.table__status {
    width: 87px;
}
.table__srok .table__search,
.table__sert .table__search {
    visibility: hidden;
}
span.table__status_green {
    color: #175800;
}
span.table__status_red {
    color: #ca0000;
}
span.table__status_grey {
    color: #303030;
}
.main__content_controls {
    display: flex;
    padding: 30px 0;
    justify-content: center;
}
.main__content_control:hover {
    color: #09699e;
}
.main__content_control-all.prev{
    transform: rotate(180deg);
}
.main__content_control-all,
.main__content_control  {
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 29px;
}
.main__content_control-all {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main__content_control-all img {
    width: 8px;
    height: 14px;
}
.main__content_control {
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.main__content_control.active {
    background-color: #3d88d2;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
/* partners */
.main__content_actions {
    display: flex;
    align-items: center;
    padding-left: 57px;
    height: 66px;
}
.main__content_action {
    display: flex;
    align-items: center;
    color: #3d88d2;
    font-size: 16px;
    margin-right: 50px;
    cursor: pointer;
}
.main__content_action:hover {
    color: #09699e;
}
.main__content_action img {
    margin-right: 8px;
}
.main__content_header .search__control_btn {
    display: inline-flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
.main__content_header .search__control_btn span {
    font-size: 40px;
    color: #fff;
    padding-right: 8px;
}
.main__content_header span {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
}
.popup-partner {
    display: none;
    position: absolute;
    top: 250%;
    left: 250%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1180px;
    background: #ffffff;
    border-radius: 10px;
    transition: all .3s linear;
    z-index: 11;
}
.popup-partner.active {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-partner__header {
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-partner__header span {
    color: #000000;
    font-size: 38px;
    font-weight: 500;
}
.popup-partner__header img {
    cursor: pointer;
}
.popup-partner__body {
    padding: 40px 60px;
    border-top: 1px solid #dee0df;
    border-bottom: 1px solid #dee0df;
}
.popup-partner__controls {
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* END:partners */
/* history2 */
.main__content_search {
    padding: 60px;
    background: #ffffff;
    margin-bottom: 37px;
    border-radius: 10px;
    border: 1px solid #dddfe0;
}
.search__row {
    display: flex;
    justify-content: center;
    padding-top: 21px;
}
.search__row:first-child {
    justify-content: space-between;
    padding-top: 0;
}
.search__control {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: calc((100% - 60px)/4);
    max-height: 65px;
    height: auto;
}
#ui-datepicker-div {
    z-index: 2!important;
}
.search__control:last-child {
    margin-right: 0;
}
.popup-partner__body .search__control {
    width: calc(50% - 10px);
}
.sign-in__item .search__row ,
.sign-in__item .search__control {width: 100%; margin: 0;}
.sign-in__item .search__row label,
.popup-partner__body .search__row label,
.main__content_search .search__row label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: block;
    color: #959ba4;
    font-size: 18px;
    z-index: 1;
    transition: all .3s;
}
.plus-popup-partner {
    margin-right: 20px;
}
.popup-partner__controls span {
    color:#82ade0;
    cursor: pointer;
}
.sign-in__item .search__row label.active,
.popup-partner__body .search__row label.active,
.main__content_search .search__row label.active {
    font-size: 14px;
    top: 16px;
}
 .search__row input.focus,
.popup-partner__body .search__row input:focus,
.main__content_search .search__row input:focus {
    border: 1px solid #c6cbd1;
    background-color: #ffffff;
}
.search__row input {
    text-align: left;
    padding: 24px 20px 21px 20px;
}
.sign-in__item .search__row select,
.popup-partner__body .search__row select,
.main__content_search .search__row select {
    background-color: #ebf0f4;
    border: 1px solid #ebf0f4;
    color: #333333;
}
.sign-in__item.search__row select:focus,
.popup-partner__body .search__row select:focus,
.main__content_search .search__row select:focus {
    background-color: #ffffff;
}
.search__row select {
    color: #8f8f8f;
    border: 0;
    padding: 24px 20px 21px 20px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c6cbd1;
    position: relative;
    background: url(../img/histroy1/arrow-point-to-right_копия.png) no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    cursor: pointer;
}
.signin__loser:hover {
    color: #043b58;
}
.search__control_btn:hover{
    background-color: #09699e;
}

.search__control_btn {
    transition: all .3s linear;
    color: #ffffff;
    font-size: 16px;
    padding: 24px 20px 21px 20px;
    border-radius: 5px;
    background-color: #3d88d2;
    border: 0;
    cursor: pointer;
}
.search__reset img {
    margin-right: 7px;
    transition: all .3s linear;
}
.search__reset {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #3d88d2;
    font-size: 16px;
    margin-top: 10px;
    background: none;
    border: 0;
    transition: all 0.3s;
}
.checkbox-label {
    display: inline-block;
    height: auto;
    position: relative;
    top: -8px;
}
.checkbox {
    display: inline-block;
    width: 25px;
    height: 24px;
    margin-right: 10px;
    background: url(../img/partner/no-check.png);
    transition: all .3s linear;
    cursor: pointer;
}
.checkbox.active {
    background: url(../img/partner/check.png);
}
/* history2:END */

/* form */
.main__content_sertificate {
    max-width: 538px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 35px 25px 35px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.main__content_sertificate .search__row {
    justify-content: flex-end;
}
.main__content_sertificate .search__row {
    align-items: center;
}
.main__content_sertificate .search__row label {
    margin-bottom: 0;
    font-weight: 500;
}
.main__content_sertificate .search__row input,
.main__content_sertificate .search__row select {
    margin-left: 20px;
    margin-right: 50px;
}
.main__content_sertificate .search__row input#birthday {
    background: url(../img/histroy1/calendar.png);
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
}
.search__row_phone {
    padding-bottom: 22px;
    border-bottom: 1px solid #cbcbcb;
}
.search__checkbox {
    /* width: 16px; */
    /* height: 16px; */
    /* border-radius: 5px; */
    /* border: 1px solid #8e8e8e; */
    /* background-color: #ffffff; */
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    /* overflow: hidden; */
}
.search__checkbox input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%!important; 
    margin: 0!important;
}
/* .search__checkbox::before {
    content: "\2714";
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search__checkbox input:checked ~ .search__checkbox::before {
    font-size: 14px;
}
.search__checkbox input {
    opacity: 0;
} */
.main__content_sertificate .search__row_label {
    justify-content: flex-start;
}
.main__content_sertificate .search__row_btn {
    justify-content: center;
}
.search__label_money input {
    min-width: 65px!important;
    width: 70px;
    padding: 11px;
    margin: 0px!important;
}
/* END:form */

/* Tarrifs */
.main__content_items {
    display: flex;
    margin: 0 auto;
    width: 1145px;
    padding-bottom: 155px;
}
.main__content_item:first-child {
    width: 345px;
    border-right: 1px solid #dddfe0;
}
.main__content_item:last-child {
    width: calc(100% - 345px);
}
.main__content_sert {
    display: flex;
}
.main__content_table .table__sertificate_body.active {
    box-shadow: 0 0 13px rgba(140, 159, 178, 0.79);
    border-right: 0px solid #dddfe0;
}
.main__content_table .table__sertificate_body.active td {
    border-left: 1px solid #dddfe0;
    border-right: 1px solid #dddfe0;
}
.main__content_table .table__sertificate_body.active th {
    background-color: #3d88d2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #dddfe0;
}
.main__content_table .table__sertificate_body.active tr:last-child td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #dddfe0;
}
.main__content_table .table__sertificate_body.active th span {
    color: #fff;
}
.main__content_table .table__sertificate_body {
    border-right: 1px solid #dddfe0;
}
.main__content_article,
.main__content_table .table__sertificate_body td {
    height: 100px;
}
.main__content_article:first-child,
.main__content_table .table__sertificate_body th {
    height: 64px;
}
.main__content_table .table__sertificate_body th span {
    font-size: 22px;
    position: relative;
}
.td-grey {
    background: #f8f8f8!important;
}
.main__content_table .table__sertificate_body td div {
    color: #09699e;
    font-size: 24px;
}
.main__content_table .table__sertificate_body td div p {
    color: #303030;
    font-size: 16px;
}
.main__content_table .table__sertificate_body td .search__control_btn {
    margin-top: 5px;
}
.table__sertificate_body .search__control_btn {
    padding: 14px 50px;
} 
.main__content_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13px;
    padding-right: 10px;
}
.main__content_article .content__item_head {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
}
.main__content_article .content__item_text {
    font-size: 12px;
}
.main__content_article:nth-child(2n + 1) {
    background: #ffffff;
}
.main__content_article:first-child {
    background: transparent;
}
/* END:Tarrifs */